@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.container {
  max-width: 1223px;
  margin: 0 auto;
}
.offer .container {
  padding: 120px 0 122px;
}
.offer-title {
  text-align: center;
}
h2 {
  font-size: 40px;
  font-weight: 500;
}
.offer-title.stripe {
  padding-top: 20px;
}
.offer-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  font-size: 24px;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
}
.block .text {
  padding-top: 55px;
}
.footer {
  background-color: #10367c;
}
.footer .container {
  padding: 120px 0;
  font-size: 20px;
  color: #ffffff;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer .bold {
  font-weight: 500;
}
.item div:not(:last-child) {
  margin-bottom: 24px;
}
.footer .rights {
  padding-top: 64px;
  font-size: 14px;
}
.header {
  background-image: url("./image/top-section.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  max-height: 100vh;
}
.header .container {
  padding: 51px 0 120px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  text-align: left;
  flex-basis: 684px;
}
.header__button {
  background-color: transparent;
  border: none;
  color: white;
}
.header__button.text {
  position: relative;
}
.header__button.text::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 50px;
  background: #f5bd41;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0)
}
.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0 196px;
  max-width: 1223px;
  margin: 0 auto;
}
.main-form__text {
  width: 542px;
  height: 118px;
  align-self: flex-start;
}
.main-form__text_text {
  font-size: 50px;
  font-weight: 500;
}
.form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffffff;
  width: 1223px;
  height: 64px;
  border-radius: 8px;
  margin-top: 145px;
}
input {
  height: 56px;
  font-size: 18px;
  color: #383838;
  border-radius: 8px;
  border: 3px solid #f3f3f4;
}
input::-webkit-input-placeholder {
  color: #383838;
  font-size: 18px;
  padding: 0 24px 21px;
}
.form-text-input {
  width: 467px;
  position: relative;
}
.label__text_input {
  position: absolute;
  left: 20%;
  bottom: 250px;
  transform: translate(-50%, 0);
  font-size: 18px;
}
.form-date-input {
  border: 3px solid #f5bd41;
  width:  259px;
  position: relative;
}
.label__date_input {
  position: absolute;
  left: 48%;
  bottom: 250px;
  transform: translate(-50%, 0);
  font-size: 18px;
}
.form-room-input {
  width: 305px;
}
.button {
  background-color: #3077c6;
  font-weight: 500;
  border: none;
  color: #ffffff;
  height: 66px;
  width: 192px;
  border-radius: 8px;
  font-size: 18px;
}
.header__download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding-top: 120px;
}
.header__download button{
  background: transparent;
  border: none;
}