* {
  margin: 0;
}
.header {
  display: block;
  text-align: center;
  padding: 120px 567px 0;
}
h1 {
  font-size: 40px;
  color: #383838;
}
img.stripe {
  padding-top: 20px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 88px 104px 122px 114px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text1 {
  padding: 52px 0 0 0;
  text-align: center;
  font-size: 24px;
}
.text1 {
  padding: 52px 0 0 0;
  text-align: center;
  font-size: 24px;
}
.text2 {
  padding: 56px 0 0 0;
  text-align: center;
  font-size: 24px;
}
.text3 {
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 24px;
}
.text4 {
  padding: 58px 0 0 0;
  text-align: center;
  font-size: 24px;
}
