@import url("./fonts.css");

:root {
  --col: calc(100% / 12);
}

* {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
}
.col-1 {
  width: var(--col);
}
.col-2 {
  width: calc(var(--col-width) * 2);
}
.col-3 {
  width: calc(var(--col-width) * 3);
}
.col-4 {
  width: calc(var(--col-width) * 4);
}
.col-5 {
  width: calc(var(--col-width) * 5);
}
.col-6 {
  width: calc(var(--col-width) * 6);
}
.col-7 {
  width: calc(var(--col-width) * 7);
}
.col-8 {
  width: calc(var(--col-width) * 8);
}
.col-9 {
  width: calc(var(--col-width) * 9);
}
.col-10 {
  width: calc(var(--col-width) * 10);
}
.col-11 {
  width: calc(var(--col-width) * 11);
}
.col-12 {
  width: calc(var(--col-width) * 12);
}
.container {
  max-width: 1232px;
  margin: 0 auto;
}
.top-section {
  background-image: url("../image/top-section.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}
.top-section .container {
  padding-top: 51px;
  min-height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  text-align: left;
  flex-grow: 80;
}
.icons--text {
  font-size: 24px;
}
.nav__icons--text {
  position: relative;
}
.nav__icons--text::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 50px;
  background: #f5bd41;
  bottom: -12px;
  left: 10%;
}
.nav__icons {
  display: flex;
  gap: 48px;
  flex-grow: 0.5;
}
.nav__icons--link {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.nav__icons--svg.night {
  width: 30px;
  height: 30px;
}
.nav__icons--svg.account {
  width: 40px;
  height: 40px;
}
.nav__icons--svg.logo {
  width: 205px;
  height: 40px;
}
.top-section__info {
  align-self: flex-start;
  padding-top: 196px;
}
.top-section__info--text {
  font-size: 50px;
  font-weight: 500;
}
.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
}
.main-form__form {
  display: flex;
  /*grid-template-columns: 5fr 0.1fr 4.4fr 0.5fr;*/
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 145px;
  width: 1232px;
  height: 64px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  /*color: transparent;
  background: none;
  z-index: 1;*/
  display: none;
}
.main__form--input:hover {
  border: 3px solid #f5bd41;
}
input {
  height: 64px;
  border: 3px solid #f3f3f4;
  font-size: 18px;
  color: #383838;
  border-radius: 8px;
  outline: none;
  margin: 0;
}
input::-webkit-input-placeholder {
  color: #383838;
  font-size: 18px;
}
.date- {
  color: #383838;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-basis: 5%;
  /*text-align: center;*/
}
.main-form__form--label {
  position: relative;
}
.main-form__form--text {
  flex-grow: 45;
}
.form__input--text {
  width: 100%;
  padding-left: 24px;
}
.form__label--text {
  position: absolute;
  font-size: 18px;
  top: -44px;
  left: 24px;
}
.main-form__form--date {
  position: relative;
  display: flex;
  border-radius: 8px;
  flex-grow: 0.1;
}
.form__input--date {
  border: none;
  height: 58px;
  text-align: center;
}
.form__label--date {
  position: absolute;
  font-size: 18px;
  top: -44px;
  left: 24px;
}
.form__input--room {
  flex-grow: 13;
  padding-left: 25px;
}
.form__button {
  background-color: #3077c6;
  font-weight: 500;
  border: none;
  color: #ffffff;
  height: 64px;
  width: 192px;
  border-radius: 8px;
  font-size: 18px;
  flex-grow: 1;
}
.download__icon--svg {
  width: 135px;
  height: 40px;
}
.top-section__download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding-bottom: 120px;
}
.top-section__download--icon {
  width: 135px;
  height: 40px;
}
.offer {
  padding-bottom: 122px;
}
.title {
  text-align: center;
}
.header {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  padding-top: 120px;
}
.offer__header-stripe {
  padding-top: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offer__items {
  align-items: center;
  padding-top: 80px;
  font-size: 24px;
}
.column {
  display: flex;
  flex-direction: column;
}
.offer__items--column {
  justify-content: center;
  align-items: center;
}
.offer__items--sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}
.offer__items--icon {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer__items--text {
  padding: 48px 0 8px;
}
.footer {
  background-color: #10367c;
}
.homes {
  background-color: #EAF0F9;
}
.homes .container {
  padding-bottom: 122px;
}
.homes__details--row {
  padding-top: 105px;
  gap: 16px;
  position: relative;
}
.homes__row--button {
  position: absolute;
  transform: translate(-50%, 0);
  left: 93%;
}
.homes__row--button-svg {
  text-align: center;
}
.button {
  width: 40px;
  height: 40px;
  background-color: #F3F3F4;
  border-radius: 50%;
  border: none;
}
.homes__details--column {
  gap: 24px;
}
.homes__details--hotel {
  color: #3077C6;
}
.homes__details--location {
  color: #BFBFBF;
}
.destination__nav--row {
  display: flex;
  justify-content: flex-start;
}
.destination__nav {
  margin: 104px 0 65px;
  background-color: #F3F3F4;
  border-radius: 8px;
  width: 50%;
  height: 64px;
}
.destination__nav--button {
  border-radius: 8px;
  height: 64px;
  width: calc( 98% / 3);
  border: none;
  background-color: #F3F3F4;
}
.destination__nav--button:hover {
  background-color: #3077C6;
  color: #ffffff;
}
.destination__details--column {
  gap: 24px;
  color: #3077C6;
}
.destination__details--row {
  position: relative;
  padding-bottom: 48px;
}
.destination__details--svg:hover img{
  /*opacity: 0.4;*/
  filter: brightness(0.6);
}
.destination__button {
  position: absolute;
  text-align: center;
  margin-bottom: 121px;
}
.destination__button--svg {
  transform: rotate(90deg);
}
.destination__discount {
  content: "";
  height: 200px;
  width: 100%;
  background: #EAF0F9;
}
.destination__discount--row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.destination__discount--column {
  gap: 21px;
}
.destination__discount--text {
  font-weight: 500;
}
.destination__discount--button {
  border: 1px solid #3077C6;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  color: #3077C6;
  background-color: #FFFFFF;
  font-size: 18px;
}
.review__header {
  padding-bottom: 104px;
}
.review__items--row {
  gap: 16px;
  padding-bottom: 120px;
}
.review__items--column {
  background-color: #EAF0F9;
  width: calc(97.3% / 3);
  gap: 24px;
}
.review__items--image {
  width: 400px;
  height: 400px;
}
.review__details--block {
  padding: 0 24px;
}
.review__details--location {
  color: #3077C6;
  font-size: 18px;
  gap: 16px;
}
.review__details--score {
  gap: 16px;
}
.review__score--number {
  display: block;
  content: "";
  background-color: #10367C;
  width: 48px;
  height: 32px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
.review__score--comment {
  color: #BFBFBF;
  font-size: 14px;
}
.review__items--comment {

}
.footer .container {
  padding: 120px 0;
  font-size: 20px;
  color: #ffffff;
}
.footer__svg {
  display: none;
}
.footer__items {
  align-items: baseline;
  flex-wrap: nowrap;
}
.footer__items--column div:not(:last-child) {
  margin-bottom: 24px;
}
.footer__items--bold {
  font-weight: 500;
}
.footer__rights {
  padding-top: 64px;
  font-size: 14px;
}
@media (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  .offer__items--column {
    padding-left: 73px;
    padding-right: 73px;
    text-align: center;
  }
  .offer__header-stripe {
    display: none;
  }
  .offer__items--column {
    margin-bottom: 32px;
  }
  .col-3:last-child .offer__items--column {
    margin-bottom: 0;
  }
  .offer__items--icon {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .footer__rights {
    text-align: center;
  }
  .footer__items--column {
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .footer__items--bold {
    text-decoration: underline;
    font-size: 15px;
  }
  .footer__items--list {
    display: none;
  }
  .footer__svg {
    width: 98px;
    aspect-ratio: 1/1;
    display: flex;
    margin: 0 auto;
  }
}